@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Roboto:wght@100&display=swap');
table {
    background-color: rgb(229, 225, 174);

}

.alinhamenalimhamentoParaEsquerdato {

    text-align: left;
}

.alimhamentoParaDireita{
    text-align: right;
}
body{
    background-color:rgb(12, 99, 127);
    font-family:'Roboto:wght@100&display=swaap';
}